body {
	max-width: 1920px;
}
*{
	margin: 0;
}
.selectWidth{
	width: 300px;
}
.margin{
	margin-top: 10px;
}
.loading{
	display: flex;
	gap:10px;
	align-items: center;
}
.arrow{
	height: 35px;
}
.center{
	display: flex;
	justify-content: center;
}
td , th{
	text-align: center;
}
.name{
	color: blue;
}